@import url(_variaveis.css);
@import url(_reset.css);

body {
    font-family: var(--familia-corpo);
}

.container{
    padding-left: 10rem;
    padding-right: 10rem;
}

.titulo {
    font-family: var(--familia-corpo);
    font-size: var(--tamanho-titulo);
    font-weight: var(--peso-titulo-destaque);

    margin-top: .75rem;
    margin-bottom: .75rem;
}

.titulo-destaque {
    font-family: var(--familia-titulo-destaque);
    color: var(--preto);
    font-size: var(--tamanho-titulo-destaque);
    font-weight: var(--peso-titulo-destaque);
    display: block;

    margin-top: .75rem;
    margin-bottom: .75rem;
}

.alinhamento--esquerda {
    text-align: left;
}

.alinhamento--meio {
    text-align: center;
}

.texto {
    line-height: 26px;
}

.text-focus-in {
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
            filter: blur(0px);
            opacity: 1;
    }
}